<!DOCTYPE html>
<html>
    <head>
        <style>
{% for tag in config["tags"] %}
.{{tag["id"]}} {
    background-color: {{tag["color"]}};
}
{% endfor %}
        </style>
        <script>
const ANNOTATIONS = {{annotations|safe}};
window.onload = function() {
    const paragraphnodes = document.evaluate("//*[@class='paragraph']", document, null, XPathResult.ORDERED_NODE_SNAPSHOT_TYPE, null);
    for (let pi = 0; pi < paragraphnodes.snapshotLength; pi++) {
        let paragraphnode = paragraphnodes.snapshotItem(pi);
        let mathnodes = document.evaluate("//*[@id='" + paragraphnode.id + "']//*[name()='math' or contains(@class, 'ltx_equation') or contains(@class,'ltx_equationgroup')]",
                                          document, null, XPathResult.ORDERED_NODE_SNAPSHOT_TYPE, null);
        for (let i = 0; i < mathnodes.snapshotLength; i++) {
            const mathnode = mathnodes.snapshotItem(i);

            var parentnode = mathnode.parentNode;
            var isOkay = true;
            console.log("Checking for " + mathnode.id + "   - " + parentnode);
            while (isOkay && parentnode != null) {
                console.log("Checking " + parentnode.id);
                if (ANNOTATIONS.hasOwnProperty(parentnode.id)) {
                    isOkay = false;
                } else {
                    parentnode = parentnode.parentNode;
                }
            }
            if (!isOkay) continue;

            var mathwrapper;
            if (mathnode.tagName != "math") {
                mathwrapper = document.createElement('div');
            } else {
                mathnode.setAttribute("display", "inline");    // some math nodes have display="block", which interferes with background colors
                mathwrapper = document.createElement('span');
            }

            mathwrapper.classList.add(ANNOTATIONS[paragraphnode.id + ":" + mathnode.id]);
            mathwrapper.style.position = "relative";

            mathnode.parentNode.insertBefore(mathwrapper, mathnode);
            mathwrapper.appendChild(mathnode);
        }

    }
};
    </script>
    </head>
    <body>
        {% for para,filename in paras %}
            <a href='http://127.0.0.1:5000/annotate/{{filename}}'>GO TO ANNOTATE</a>
            <div class="paragraph" id="{{filename}}">{{para|safe}}</div>
            <hr></hr>
        {% endfor %}
    </body>
</html>
